sudo: required
dist: trusty
git:
  depth: 3
  submodules: false
language: c
compiler: gcc
before_install:
- sudo apt-get -qq update
- sudo apt-get install -y nasm texinfo libmpfr-dev libmpc-dev libgmp-dev libisl-dev packaging-dev sshpass
script:
- rm -rf .git
- cd ..
- mv binutils binutils-2.26.1
- tar -czf binutils_2.26.1.orig.tar.gz binutils-2.26.1
- cd binutils-2.26.1
- debuild -us -uc
after_success:
- cd $TOPDIR
env:
   global:
     - TOPDIR=`pwd`/../..
     - DEBFULLNAME="Stefan Lankes"
     - DEBEMAIL="slankes@eonerc.rwth-aachen.de"
